<ion-content [fullscreen]="true">
  <ion-content class="shadow">
    <div class="column" style="margin: 20px;">

      <ion-text>Welcome Back</ion-text>
      <ion-text>Login to your account</ion-text>
    </div>

    <div style="margin: 20px; margin-top: 130px;">
      	<form #f="ngForm" [formGroup]="phoneForm">
          <div>
            <ngx-intl-tel-input 
            [cssClass]="'custom'"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            customPlaceholder="Mobile Number"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.Ireland"
            [maxLength]="15"
            [phoneValidation]="true"
            [separateDialCode]="true"
            name="phone"
            formControlName="phone"
            ></ngx-intl-tel-input>
          </div>
        </form>
    </div>

  </ion-content>
</ion-content>
