<ion-content [fullscreen]="true">
  <ion-content class="shadow">
    <div class="column" style="margin: 20px;">
      <!-- Login page with mobile verification -->
      <ion-text>Welcome Back</ion-text>
      <ion-text>Login to your account</ion-text>
    </div>

    <div style="margin: 20px; margin-top: 130px;">
      	<form #f="ngForm" [formGroup]="phoneForm">
          <div>
            <ngx-intl-tel-input 
            [cssClass]="'custom'"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            customPlaceholder="Mobile Number"
            [searchCountryField]="[searchCountryField.Iso2, searchCountryField.Name]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.Ireland"
            [maxLength]="15"
            [phoneValidation]="true"
            [separateDialCode]="true"
            name="phone"
            formControlName="phone"
            ></ngx-intl-tel-input>
          </div>
        </form>
    </div>

    <!-- Continue to registration -->
    <div
    (click)="goTo('../register')"
    class="center margin20 gradientButton"
    style="margin-top: 50px;"
    >
      <ion-text class="whiteColor18Medium"> Continue </ion-text>
    </div>

    <ion-text
    class=""
    style=""
    
    >Sending Mobile Verification Code</ion-text>

  </ion-content>
</ion-content>
