<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="home">
      <ion-icon name="home" style="font-size: 22px"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles" style="font-size: 22px"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="management">
      <ion-icon name="heart" style="font-size: 22px"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings" style="font-size: 22px"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
