.txtField {
    --placeholder-font-weight: 500;
    --placeholder-color: var(--grayColor);
    --placeholder-opacity: 1;
    min-height: 50px;
    --border-color: var(--grayColor);
    --border-radius: 5px;
    --border-style: solid;
    --border-width: 1px;
  }
  