@font-face{
    font-family: 'Asap';
    src:url('../assets/fonts/Asap-Bold.ttf');
    font-weight: 700;
}
@font-face{
    font-family: 'Asap';
    src:url('../assets/fonts/Asap-ExtraBold.ttf');
    font-weight: 800;
}
@font-face{
    font-family: 'Asap';
    src:url('../assets/fonts/Asap-Medium.ttf');
    font-weight: 500;
}
@font-face{
    font-family: 'Asap';
    src:url('../assets/fonts/Asap-Regular.ttf');
}
@font-face{
    font-family: 'Asap';
    src:url('../assets/fonts/Asap-SemiBold.ttf');
    font-weight: 600;
}