// Text style presets
// Applied universally for ease of management.


//Regular

//Medium

.whiteColor36Medium{
  color: var(--whiteColor);
  font-size: 36px;
  font-weight: 500;
}
//Bold

//Semibold

